
@{
    ViewBag.Title = "İNSAATLARIMIZ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">İNŞAATLARIMIZ</h2>
<table border="1">
    <tr>
        <td></td>
        <td><img src="~/Content/img/R1.jpg" /></td>
    </tr>
    <tr>
        <td>EV TİPİ:</td>
        <td>2+1</td>
    </tr>
    <tr>
        <td>KAT:</td>
        <td>4</td>
    </tr>
    <tr>
        <td>FİYAT:</td>
        <td>280.000</td>
    </tr>
    <tr>
        <td>ADRES:</td>
        <td>Aşağınohutlu, Sakarya Cd. No:02, 66300 Yozgat Merkez/Yozgat</td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" name="satin_al" value="SATIN AL" /></td>
    </tr>

    <tr><td colspan="2">-------------------------------------------------------------------------------------</td></tr>
    <tr>
        <td></td>
        <td><img src="~/Content/img/R2.jpg" /></td>
    </tr>
    <tr>
        <td>EV TİPİ:</td>
        <td>2+1</td>
    </tr>
    <tr>
        <td>KAT:</td>
        <td>4</td>
    </tr>
    <tr>
        <td>FİYAT:</td>
        <td>280.000</td>
    </tr>
    <tr>
        <td>ADRES:</td>
        <td>Aşağınohutlu, Sakarya Cd. No:02, 66300 Yozgat Merkez/Yozgat</td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" name="satin_al" value="SATIN AL" /></td>
    </tr>

    <tr><td colspan="2">-------------------------------------------------------------------------------------</td></tr>
    <tr>
        <td></td>
        <td><img src="~/Content/img/R3.jpg" /></td>
    </tr>
    <tr>
        <td>EV TİPİ:</td>
        <td>2+1</td>
    </tr>
    <tr>
        <td>KAT:</td>
        <td>4</td>
    </tr>
    <tr>
        <td>FİYAT:</td>
        <td>280.000</td>
    </tr>
    <tr>
        <td>ADRES:</td>
        <td>Aşağınohutlu, Sakarya Cd. No:02, 66300 Yozgat Merkez/Yozgat</td>
    </tr>

    <tr>
        <td colspan="2" align="center"><input type="button" name="satin_al" value="SATIN AL" /></td>
    </tr>

    <tr><td colspan="2">-------------------------------------------------------------------------------------</td></tr>

    <tr>
        <td></td>
        <td><img src="~/Content/img/R4.jpg" /></td>
    </tr>
    <tr>
        <td>EV TİPİ:</td>
        <td>2+1</td>
    </tr>
    <tr>
        <td>KAT:</td>
        <td>4</td>
    </tr>
    <tr>
        <td>FİYAT:</td>
        <td>280.000</td>
    </tr>
    <tr>
        <td>ADRES:</td>
        <td>Aşağınohutlu, Sakarya Cd. No:02, 66300 Yozgat Merkez/Yozgat</td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" name="satin_al" value="SATIN AL" /></td>
    </tr>
</table>

